
.container-cadastro {
  width: 95%;
  height: 850px;
  border-radius: 15px;
  justify-content: space-around;
  padding: 0;
  margin: 50px;
  display: flex;
  box-shadow: 10px 13px 35px 11px rgba(1, 20, 0, 0.3);
}

.container-cadatro-form{
  width: 50%;
  margin-top: 7%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 10px 13px 35px 11px rgb(255, 255, 255);
}

.container-todolist {
  justify-content: none;
  width: 50%;
  margin-top: 1%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 10px 13px 35px 11px rgb(255, 255, 255);
}

.container-cadatro-form h1 {
  font-size: 30px;
  margin-top: -15%;
  font-weight: bold;
  color: black;
  text-align: center;
}

.container-todolist h1 {
  font-size: 30px;
  margin-top: -15%;
  font-weight: bold;
  color: black;
  text-align: center;
}

.container-cadatro-form input {
  width: 55%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgb(8, 5, 5);
  padding: 5px 0px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(8, 5, 5);
  text-align: center;
}

.container-cadatro-form button {
  width: 30%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid rgb(8, 5, 5);
  font-size: 17px;
  font-weight: bold;
  color: rgb(8, 5, 5);
  text-align: center;
}
